mixin row(rowClasses = 'justify-content-between')
  .row(class = rowClasses)
    block

mixin section(classes, title, rowClasses = 'justify-content-between')
  section.section(class = classes)
    .container.section-container
      +row(rowClasses)
        h2.section-title.section-title--main= title
        block

mixin button(content)
  a.btn.btn-primary(href='#') !{content}

mixin occasion(imgTitle, title = '')
  - var desc = 'Опис основних випадків, в котрих сервіс буде корисним, і з якими частіше за все стикаються наші користувачі'
  - var classes = title ? colClasses[4] + ' card occasions-card' : colClasses[6]

  article.col.col-sm-12(class = classes)
    if !title
      .icon
      p= desc
    else
      //- figure.img_wrap
      img.img_wrap-img.occasions-img(src = pathes.img + '/occasions/' + imgTitle + '.jpg' alt = imgTitle)
      section.card-body
        h3.section-title.section-title--sub.occasions-title= title
        p= desc

mixin service(title, imgTitle = 0)
  - var shortList = ['', ', детальна інформація', ', інформація', '']
  -
    var longList = [
      'Визначення порядку участі у вихованні та утриманні дитини',
      'Визнання (оскарження) права на батьківство',
      'Усунення перешкод у спілкуванні з дітьми, онуками',
      'Розроблення договору про добровільну сплату аліментів',
      'Розроблення шлюбного договору',
      'Представництво інтересів під час вирішення сімейних спорів у судах, органах опіки та піклування'
    ]

  article.card.services-card
    if imgTitle
      //- figure.img_wrap
      img.img_wrap-img(src = pathes.img + '/img_services/' + imgTitle + '.jpg' alt = imgTitle)
    section.card-body
      h3.section-title.services-title= title
      ul.list.list--dotted.services-list
        if imgTitle
          each item, index in longList
            li.list-item= item
        else
          each item, index in shortList
            li.list-item= 'Пункт ' + (index + 1) + item
      if imgTitle
        +button('Більше послуг &gt;')

mixin serviceForm(colClasses = '')
  article.card.services-card.services-card--form(class = colClasses)
    section.card-body
      h3.section-title.section-title--main Не знаєте що обрати?
      p Пройдіть тест і дізнайтеся, яка послуга вам більше підходить
      +button('Почати тест')

mixin packageServiceLI(key, value, disabled = false)
  //- li.row(class = {'disabled': disabled})
  li.row.d-flex(class = {'text-muted': disabled})
    .col= key
    .col.text-end= value

mixin packageService(title, price, count = 0, list = [])
  - var cond = count > 0
  -
    var items = cond
      ? list
      : ['Усні медичні консультації', 'Усні юридичні консультації']
  - var itemValue = cond ? 1 : 4
  - var subTag = 'sub'
  - var priceStr = (cond ? '<' + subTag + '> від </' + subTag + '> ' : '') + price + ' грн'

  article.col
    h3.section-title= title
    div
      b !{priceStr}
      ul
        each item, index in items
          +packageServiceLI(item, itemValue, cond && index >= count)
      +button('Замовити')
